<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!----===== Boxicons CSS ===== -->
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3-org-chart@3.1.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3-flextree@2.1.2/build/d3-flextree.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>

    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css"
      rel="stylesheet"
      type="text/css"
    />

    <script src="/static/js/org.js"></script>
    <script src="/static/js/darkmode.js"></script>
    <script src="/static/js/chart_view.js"></script>
    <script src="/static/js/exports.js"></script>
    <script src="/static/js/nodes.js"></script>
    <script src="/static/js/dragDrop.js"></script>
  </head>
  

  <body>
    <!-- Navbar -->
    <div class="navbar bg-base-100 shadow-sm fixed top-0 left-0 w-full z-10">
      <div class="flex-1">
        <a class="btn btn-ghost text-xl">The Org</a>
      </div>
      <div class="flex gap-2 items-center">
        <input
          type="text"
          placeholder="Search"
          class="input input-bordered w-24 md:w-auto"
          oninput="filterChart(event)"
        />
        <a
          href="https://github.com/RaphCodec/the-org"
          class="btn btn-ghost btn-circle"
        >
          <i class="bx bxl-github text-2xl"></i>
        </a>
        <label class="swap swap-rotate">
          <!-- Dark mode toggle -->
          <input type="checkbox" id="theme-switch" />
          <i class="bx bx-moon swap-on text-2xl"></i>
          <i class="bx bx-sun swap-off text-2xl"></i>
        </label>
        <div class="dropdown dropdown-end">
          <div
            tabindex="0"
            role="button"
            class="btn btn-ghost btn-circle avatar"
          >
            <div class="w-10 rounded-full">
              <img
                alt="Tailwind CSS Navbar component"
                src="https://robohash.org/robot?bgset=bg2"
              />
            </div>
          </div>
          <ul
            tabindex="0"
            class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow"
          >
            <li>
              <a class="justify-between" href="https://github.com/RaphCodec">
                RaphCodec
              </a>
            </li>
            <!-- <li><a>Settings</a></li> -->
          </ul>
        </div>
      </div>
    </div>

    <!-- Floating Menu -->
    <div
      class="fixed top-20 left-4 bg-base-100 shadow-lg rounded-box z-20 w-56 border border-secondary"
    >
      <ul class="menu bg-base-200 rounded-box w-full">
        <li>
          <details open>
            <summary>Chart View</summary>
            <ul>
              <li><a onclick="fitChart()">Fit</a></li>
              <li><a onclick="rotateChart()">Rotate</a></li>
              <li><a onclick="compactChart()">Compact</a></li>
              <li>
                <details open>
                  <summary>Zoom</summary>
                  <ul>
                    <li><a onclick="zoomInChart()">Zoom In</a></li>
                    <li><a onclick="zoomOutChart()">Zoom Out</a></li>
                  </ul>
                </details>
              </li>
            </ul>
          </details>
        </li>
        <li>
          <details>
            <summary>Actions</summary>
            <ul>
              <li><a onclick="showEdit()">Edit Selected</a></li>
              <li><a onclick="addNewNode()">Add Vacancy</a></li>
              <li><a onclick="removeSelected()">Remove Selected</a></li>
              <li><a onclick="deselectNodes()">Deselect All</a></li>
            </ul>
          </details>
        </li>
        <li>
          <details>
            <summary>Organize</summary>
            <ul>
              <li><a onclick="enableDrag()">Start</a></li>
              <li><a onclick="disableDrag()">Finish</a></li>
              <li><a onclick="undo()">Undo</a></li>
              <li><a onclick="redo()">Redo</a></li>
              <li><a onclick="cancelDrag()">Cancel</a></li>
            </ul>
          </details>
        </li>
        <li>
          <details>
            <summary>Exports</summary>
            <ul>
              <li><a onclick="exportPNG()">PNG</a></li>
              <li><a onclick="exportSVG()">SVG</a></li>
              <li><a onclick="exportNodeData()">Data</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </div>

    <!-- Main Content -->
    <div class="pt-16">
      <div class="chart-container w-full h-screen bg-base-200"></div>
    </div>

    <style>
      .disabled {
        pointer-events: none;
        opacity: 0.5;
      }
    </style>
  </body>
</html>
