<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>The Org</title>
    <meta name="description" content="The Org" />
    <meta name="author" content="RaphCodec" />

    <!-- loading favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="static/img/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/img/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/img/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="static/img/favicon_io/site.webmanifest">

    <!-- ===== Boxicons CSS ===== -->
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3-org-chart@3.1.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3-flextree@2.1.2/build/d3-flextree.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>

    <link rel="stylesheet" href="/static/css/output.css" />

    <script src="/static/js/org.js"></script>
    <script src="/static/js/darkmode.js"></script>
    <script src="/static/js/chart_view.js"></script>
    <script src="/static/js/exports.js"></script>
    <script src="/static/js/nodes.js"></script>
    <script src="/static/js/dragDrop.js"></script>
    <script src="/static/js/search.js"></script>
    <script src="/static/js/lineage.js"></script>
    <script src="/static/js/help.js"></script>
  </head>
  

  <body>
    <!-- Navbar -->
    <div class="navbar bg-base-300 shadow-sm fixed top-0 left-0 w-full z-10">
      <div class="flex-1 flex items-center gap-2">
        <img src="/static/img/logo.svg" alt="Logo" class="h-10 w-10 rounded-full" />
        <a class="btn btn-ghost text-xl">The Org</a>
      </div>
      <div class="flex gap-2 items-center">
        <div class="relative">
          <input
            id="searchInput"
            type="text"
            placeholder="Search"
            class="input input-bordered border-accent w-24 md:w-auto"
            oninput="searchNames()"
          />
          <div
            id="results"
            class="absolute bg-base-100 border border-base-300 rounded-box shadow-lg mt-1 w-full max-h-64 overflow-y-auto hidden"
          ></div>
        </div>
        <a
          href="https://github.com/RaphCodec/the-org"
          class="btn btn-ghost btn-circle"
        >
          <i class="bx bxl-github text-2xl"></i>
        </a>
        <label class="swap swap-rotate">
          <!-- Dark mode toggle -->
          <input type="checkbox" id="theme-switch" />
          <i class="bx bx-moon swap-on text-2xl"></i>
          <i class="bx bx-sun swap-off text-2xl"></i>
        </label>
      </div>
    </div>

    <!-- Help Button -->
    <div class="fixed bottom-0 right-0 p-4">
      <button class="btn btn-info" onclick="showHelpForm()">Contact Us</button>
    </div>

    <!-- Help Form -->
     <fieldset id="helpForm" class="fieldset w-xs bg-base-200 border-4 border-accent p-4 rounded-box fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 hidden">
      <legend class="fieldset-legend">Contact us</legend>

      <label class="label">Email</label>
      <input class="input validator" type="email" required placeholder="mail@site.com" />
      <div class="validator-hint">Enter valid email address</div>

      <label class="label">Subject</label>
      <input type="text" class="input validator" required placeholder="Subject" 
       minlength="3" maxlength="300" title="Subject Length" />
      <p class="validator-hint">
        Subject must be 3 to 300 characters
      </p>

      <label class="label">Message</label>
      <textarea class="textarea" placeholder="Message"></textarea>

      <button class="btn btn-neutral mt-4" onclick="hideHelpForm()">Send</button>
    </fieldset>
    

    <!-- Alerts -->
    <div
      id="errorAlert"
      role="alert"
      class="alert alert-error hidden fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 shrink-0 stroke-current"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
        />
      </svg>
      <span>Error! Please select only one Node.</span>
    </div>
    <div
      id="successAlert"
      role="alert"
      class="alert alert-success hidden fixed bottom-4 right-4"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 shrink-0 stroke-current"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 13l4 4L19 7"
        />
      </svg>
      <span>Success! Operation completed successfully.</span>
    </div>
    <div
      id="warningAlert"
      role="alert"
      class="alert alert-warning hidden fixed bottom-4 right-4"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 shrink-0 stroke-current"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M13 16h-1v-4h-1m1-4h.01M12 9v2m0 4h.01M12 17h.01M12 21h.01M12 3h.01M12 7h.01M12 11h.01M12 15h.01M12 19h.01"
        />
      </svg>
      <span>Warning! Please check your input.</span>
    </div>

    <!-- Update Form -->
    <fieldset
      id="updateForm"
      class="fieldset w-xs bg-base-200 border-4 border-accent p-4 rounded-box fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 hidden"
    >
      <legend class="fieldset-legend">Update Information</legend>
      <button 
        class="btn btn-ghost btn-secondary btn-circle btn-sm absolute top-2 right-2 p-2 bg-transparent text-secondary cursor-pointer" 
        onclick="document.getElementById('updateForm').classList.add('hidden')">
        <i class="bx bx-x text-lg"></i>
      </button>
      <label class="fieldset-label mt-4">Name</label>
      <input id="nameInput" type="text" class="input" placeholder="Name" /> 

      <label class="fieldset-label">Position</label>
      <input id="positionInput" type="text" class="input" placeholder="Position" /> 

      <label class="fieldset-label">Salary</label>
      <input
        id="salaryInput"
        type="text"
        class="input"
        placeholder="Salary"
        oninput="formatCurrency(this)"
      />

      <button id="updateBtn" class="btn btn-outline btn-info mt-4" onclick="updateNode()">Update</button>
    </fieldset>

    <!-- levels list -->
    <ul
      id="levelsList"
      class="list bg-base-200 border-4 border-accent rounded-box shadow-md fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 hidden max-h-72 overflow-y-auto"
    >
    
    </ul>

    <!-- Floating Menu -->
    <div
      class="fixed top-20 left-4 bg-base-300 shadow-lg rounded-box z-20 w-56 border border-accent max-h-[75%] overflow-y-auto"
    >
      <ul class="menu bg-base-200 rounded-box w-full">
        <li>
          <details id="ChartViewSection" open>
            <summary>Chart View</summary>
            <ul>
              <li id="fitBtn" class="cv_sectionBtn"><a onclick="fitChart()">Fit</a></li>
              <li id="rotateBtn" class="cv_sectionBtn"><a onclick="rotateChart()">Rotate</a></li>
              <li id="compactBtn" class="cv_sectionBtn"><a onclick="compactChart()">Compact</a></li>
              <li>
                <details open>
                  <summary>Zoom</summary>
                  <ul>
                    <li id="zoomInBtn" class="cv_sectionBtn"><a onclick="zoomInChart()">Zoom In</a></li>
                    <li id="zoomOutBtn" class="cv_sectionBtn"><a onclick="zoomOutChart()">Zoom Out</a></li>
                  </ul>
                </details>
              </li>
                    <li id="toggleSalariesBtn" class="cv_sectionBtn"><a onclick="toggleSalaries()">Salaries</a></li>
              <li id="levelsBtn" class="cv_sectionBtn"><a onclick="showLevels()">Levels</a></li>
            </ul>
          </details>
        </li>
        <li>
          <details id="ActionsSection">
            <summary>Actions</summary>
            <ul>
              <li id="editBtn" class="action_sectionBtn"><a onclick="showEdit()">Edit Selected</a></li>
              <li id="addBtn" class="action_sectionBtn"><a onclick="addNewNode()">Add Vacancy</a></li>
              <li id="removeBtn" class="action_sectionBtn"><a onclick="removeSelected()">Remove Selected</a></li>
              <li id="deselectBtn" class="action_sectionBtn"><a onclick="deselectNodes()">Deselect All</a></li>
              <li id="subHierarchyBtn" class="action_sectionBtn"><a onclick="getSubHierarchy()">Show Sub Hierarchy</a></li>
              <li id="lineageBtn" class="action_sectionBtn"><a onclick="getLineage()">Show Lineage</a></li>
            </ul>
          </details>
        </li>
        <li>
          <details id="DragDropSection">
            <summary>Organize</summary>
            <ul>
              <li id="startDragBtn"><a onclick="enableDrag()">Start</a></li>
              <li id="finishDragBtn" class="dragActions menu-disabled"><a onclick="disableDrag()">Finish</a></li>
              <li id="undoBtn" class="dragActions menu-disabled"><a onclick="undo()">Undo</a></li>
              <li id="redoBtn" class="dragActions menu-disabled"><a onclick="redo()">Redo</a></li>
              <li id="cancelDragBtn" class="dragActions menu-disabled"><a onclick="cancelDrag()">Cancel</a></li>
            </ul>
          </details>
        </li>
        <li>
          <details id="ExportSection">
            <summary>Exports</summary>
            <ul>
              <li id="pngBtn" class="export_sectionBtn"><a onclick="exportPNG()">PNG</a></li>
              <li id="svgBtn" class="export_sectionBtn"><a onclick="exportSVG()">SVG</a></li>
              <li id="dataBtn" class="export_sectionBtn"><a onclick="exportNodeData()">Data</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </div>

    <!-- Main Content -->
    <!-- <div class="pt-16 flex justify-start items-center h-screen">
      <div class="subchart-container w-5/8 h-7/8 bg-base-200 ml-78"></div>
    </div> -->
    <div class="pt-16">
      <div class="chart-container w-full h-screen bg-base-100"></div>
    </div>

  </body>
</html>
